#button {
  background-color: #800000;
  border-radius: 6px;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  text-transform: uppercase;
  width: 200px;
  cursor: pointer;
}

#button1 {
  background-color: #800000;
  border-radius: 6px;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  text-transform: uppercase;
  width: 200px;
  cursor: pointer;
}

.intro {
  text-align: center;
  margin-right: 200px;
  margin-left: -300px;
}

.container2 {
  margin-left: 600px;
}

#placeholder {
  height: 200px;
  width: 200px;
  padding: 50px;
  margin: 50px auto;
  border: 5px solid #800000;
  border-radius: 80px;
  font-size: 80px;
}

#placeholder1 {
  height: 200px;
  width: 200px;
  padding: 50px;
  margin: 50px auto;
  border: 5px solid #800000;
  border-radius: 80px;
  font-size: 80px;
}

#button {
  text-align: center;
  margin-left: 200px;
}

#button1 {
  text-align: center;
  margin-left: 200px;
}

.container1 {
  text-align: center;
}

h3 {
  margin-left: 250px;
}

h1 {
  text-align: center;
  color: #800000;
  font-family: 'Raleway', sans-serif;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

.rotatified {
  transform: rotate(360deg);
}

.roller {
  border-style: outset;
  border-width: 7px;
  border-color: light blue;
  margin-right: 100px;
  margin-left: 200px;
  margin-right: 200px;
}
